<div class="row" style="padding-top:15px;padding-bottom:15px;min-height:600px;margin-left: 15px;">
    <div>
        <div class="col-xs-2" style="background-color: white; height:100%;margin-right: 20px">
            <ul class="nav nav-pills nav-stacked" style="font-size:18px;">
                <li [ngClass]="{'active': currentTab=='General'}">
                    <a (click)="onTabClick('General')">Overall</a>
                </li>
                <li [ngClass]="{'active': currentTab=='Facebook'}">
                    <a (click)="onTabClick('Facebook')">Facebook</a>
                </li>
                <li [ngClass]="{'active': currentTab=='Google'}">
                    <a (click)="onTabClick('Google')">Google</a>
                </li>
                <li [ngClass]="{'active': currentTab=='Email'}">
                    <a (click)="onTabClick('Email')">Email</a>
                </li>
                <li [ngClass]="{'active': currentTab=='Organic'}">
                    <a (click)="onTabClick('Organic')">Organic</a>
                </li>
                <li [ngClass]="{'active': currentTab=='Direct'}">
                    <a (click)="onTabClick('Direct')">Direct</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-9">
            <div class="row" style="background-color: white;">
                <div [ngSwitch]="currentTab" class="tab-content">
                    <div *ngSwitchCase="'General'">
                        <div class="panel-body" style="background-color: #f5f5f5;padding-top:0px;">
                            <dashboard-component></dashboard-component>
                        </div>
                    </div>
                    <div *ngSwitchCase="'Facebook'">
                        <div class="panel-body">
                            <facebook-component></facebook-component>
                        </div>
                    </div>
                    <div *ngSwitchCase="'Google'">
                        <div class="panel-body">
                            <google-component></google-component>
                        </div>
                    </div>
                    <div *ngSwitchCase="'Email'">
                        <div class="panel-body">
                            <email-component></email-component>
                        </div>
                    </div>
                    <div *ngSwitchCase="'Organic'">
                        <div class="panel-body">
                            <organic-component></organic-component>
                        </div>
                    </div>
                    <div *ngSwitchCase="'Direct'">
                        <div class="panel-body">
                            <direct-component></direct-component>
                        </div>
                    </div>
                    <div *ngSwitchCase="'User_Journey'">
                        <div class="panel-body">
                            User Journey
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>