<div class="row" style="background-color: white;margin-bottom: 20px; height: 90px;padding-top: 20px;font-size: 20px">
    <div class="col-xs-3">
        <div class="col-xs-4" style="font-size: 30px;padding-top: 10px">
            <span class="glyphicon glyphicon-stats" style="float: right;color: #17a2b8" aria-hidden="true"></span>
        </div>
        <div class="col-xs-8">
            <div class="row" style="font-size: 16px;">
                Visitors
            </div>
            <div class="row">
                {{visitors}}
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="col-xs-4" style="font-size: 30px;padding-top: 10px">
            <span class="glyphicon glyphicon-ok" style="float: right; color:#28a745" aria-hidden="true"></span>
        </div>
        <div class="col-xs-8">
            <div class="row" style="font-size: 16px;">
                Conversions
            </div>
            <div class="row">
                {{conversions}}
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="col-xs-4" style="font-size: 30px;padding-top: 10px">
            <span class="glyphicon glyphicon-flash" style="float: right; color:#007bff" aria-hidden="true"></span>
        </div>
        <div class="col-xs-8">
            <div class="row" style="font-size: 16px;">
                First Source Conversion
            </div>
            <div class="row">
                {{firstSourceConversions}}
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="col-xs-4" style="font-size: 30px;padding-top: 10px">
            <span class="glyphicon glyphicon-retweet" style="float: right;color: #ffc107" aria-hidden="true"></span>
        </div>
        <div class="col-xs-8">
            <div class="row" style="font-size: 16px;">
                First Source/Last Source
            </div>
            <div class="row">
                {{ratio}}
            </div>
        </div>
    </div>
</div>
<div class="row" style="background-color: white;padding-top: 10px">
    <div class="col-xs-12">
        <!-- <form action="">
            <div class="row">
                <div class="form-group col-xs-2">
                    <label>Domain/Page : </label>
                </div>
                <div class="form-group col-xs-6">
                    <select>
                        <option>funding</option>
                        <option>socities</option>
                        <option>google</option>
                        <option>loada</option>
                        <option>ghanta</option>
                    </select>
                </div>
            </div>
        </form> -->
    </div>
    <div class="col-xs-12">
        <chart style="height:5000px;width: 700px;" [type]="chartType" [data]="data" [options]="options"></chart>
    </div>
</div>