<div class="row">
    <h4>Direct</h4>
</div>
<div class="row">
    <table class="table table-striped table-hover table-condensed">
        <thead>
            <tr>
                <td style="width: 15%">
                    Id
                </td>
                <td style="width: 15%">
                    Medium
                </td>
                <td style="width: 20%">
                    Campaign
                </td>
                <td style="width: 10%">
                    Term
                </td>
                <td style="width: 20%">
                    Content
                </td>
                <td style="width: 20%">
                    Others
                </td>
            </tr>
            <tr>
                <td style="width: 15%">
                    <input type="number" (change)= "searchChange('id')" [(ngModel)] = "id">
                </td>
                <td style="width: 15%">
                    <input type="text" [(ngModel)] = "medium">
                </td>
                <td style="width: 20%">
                    <input type="text" [(ngModel)] = "campaign">
                </td>
                <td style="width: 10%">
                    <input type="text" [(ngModel)] = "medium">
                </td>
                <td style="width: 20%">
                    <input type="text">
                </td>
                <td style="width: 20%">
                    <input type="text">
                </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data">
                <td>{{item.id}}</td>
                <td>{{item.medium}}</td>
                <td>{{item.campaign}}</td>
                <td>{{item.term}}</td>
                <td>{{item.content}}</td>
                <td>{{item.others}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4">
                </td>
            </tr>
        </tfoot>
    </table>
</div>