<div class="row">
    </div>
    <div class="row" style="margin-top:20px;margin-bottom: 20px">
        <label class="col-xs-2">Search Column</label>
        <div class="col-xs-2">
            <select [(ngModel)]="searchColumn">
                <option value="id">Id</option>
                <option value="campaign">Campaign Name</option>
                <option value="visit">Visit Counter</option>
                <option value="medium">Medium</option>
                <option value="content">Content</option>
                <option value="term">Term</option>
                <option value="others">Others</option>
            </select>
        </div>
        <label class="col-xs-2">Search Keyword</label>
        <div class="col-xs-3">
            <input type="text" [(ngModel)]="searchKeyword">
        </div>
        <div class="col-xs-2">
            <button class="btn btn-md btn-primary" (click)="onSearch()">Search</button>
            <button class="btn btn-md btn-warning" (click)="onClear()">Clear</button>
        </div>
    </div>
    <div class="row">
        <div>
            <ngx-datatable class="bootstrap" [rows]="rows" [columns]="[{name: 'Id'},{name:'Campaign Name'},{name:'Medium' }, 
            {name: 'Content'},{name: 'Term'}, {name : 'Visit Counter'},{name : 'Created At'},
             {name: 'Others'}]" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [externalPaging]="true"
                [count]="page.totalElements" [offset]="page.pageNumber-1" [limit]="page.size" (page)='setPage($event)' (sort)='onSort($event)'>
            </ngx-datatable>
        </div>
    </div>